body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.authWrapper {
  width: 500px;
  text-align: center;
}

.authTabs {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.authTabs * {
  width: 100%;
  height: 2rem;
}
